.otp-wrapper {
    display: inline-block
}

.otp-label {
	margin-bottom: 5px;
}
.otp-input {
    padding: 7px 0px 11px;
    text-align: center;
    display: table;
}

.otp-input .sub-input {
    width: 35px;
    display: table-cell;
    position: relative;
    height: 20px;
    vertical-align: middle
}

.otp-input .sub-input input {
	outline: 0;
	background: none;
	width: 100%;
    text-decoration: none;
    border: 0 !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: sub;
    font-family: "Rubik-Medium"
}

.otp-input .sub-input input::-webkit-input-placeholder {
    background: radial-gradient(ellipse at center, #cecece 21%,rgba(255,255,255,0) 21%);
    background-position: 50% 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #cecece
}
.otp-input .sub-input input:-ms-input-placeholder {
    background: radial-gradient(ellipse at center, #cecece 21%,rgba(255,255,255,0) 21%);
    background-position: 50% 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #cecece
}

.otp-input .sub-input input::-moz-placeholder {
    background: radial-gradient(ellipse at center, #cecece 21%,rgba(255,255,255,0) 21%);
    background-position: 50% 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #cecece
}

.otp-input .sub-input input:focus {
    background: none
}

.otp-input .sub-input:after {
	content: '';
    border-bottom: 2px solid #a6a6a6;
    width: 70%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 6px;
}

.otp-value {
	margin-top: 5px;
}
.error {
	color:red;
}